[Unit]
Description = WS281X Tally Listener
Requires = systemd-user-sessions.service network.target sound.target
After = multi-user.target

[Service]
User = root
Group = root
Type = simple
WorkingDirectory=/root/tally
ExecStart = python3 /root/tally/tallyarbiter-ws281xlistener.py
Restart = always
RestartSec = 5

[Install]
WantedBy = multi-user.target